<div class="container">
  <h2>WeatherCityApp</h2>
  <div class="city-container">
    <div class="city-form">
      <form action=" ">
        <div class="form-group">
          <label for="">City name</label>
          <input type="text" name="cityName">
        </div>
        <div class="form-group">
          <label for="">Country</label>
          <input type="text" name="countryName">
        </div>
        <div class="form-group">
          <label for="">Population</label>
          <input type="text" name="population">
        </div>
        <div class="form-group">
          <button>Save</button>
        </div>
      </form>
    </div>
  </div>
  <div class="city grid">
      <div class="city-row">
        <div class="city-row-details">
          <span>Name</span>
          <span>1234567</span>
        </div>
        <div class="city-row-action">
          <a><i class="fa-solid fa-trash"></i></a>
        </div>
      </div>
  </div>
</div>