/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.city-container {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.city {
    flex: 1;
    padding: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
}

/* Form Styles */
.city-form form {
    margin-bottom: 20px;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* City List Styles */
.city {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    /* Dodaj pasek przewijania, jeśli zawartość jest zbyt długa */
}

.city-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.city-row-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.city-row-details span {
    font-size: 16px;
    color: #333;
}
.city-row-details{
    background-color: lightgrey;
    flex-grow: 1;
    padding: 0.4em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.city-row-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-row-action a {
    display: block;
    cursor: pointer;
    padding: 0.97em;
    background-color: lightcoral;

}

a:hover {
    color: white;
    cursor: pointer;
}